#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.appContainer {
  position: relative;
  height: 700px;
  width: 700px;
  padding: 20px;
  padding-top: 30px;
}



.buttonContainer {
  width: 200px;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
}

#MainContainer {
    padding: 10px;
  }

.signInPage {
  background-color: whitesmoke;
  width: 700px;
  height: 700px;
}

#signInButton {
  float: right;
  margin: 10px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 100%;
}

li {
  margin-left: -100px;
  text-align: center;
  padding-top: 10px;
}

#SWE-Bot {
  width: 50%;
  height: auto;
  padding-top: 120px;
  padding-bottom: 25px;
}

#SWE-Goals {
  color: black;
  padding: 10px;
  font-style: italic;
  font-size: 25px;
}

#userBttnContainer {
  float: right;
  position: fixed;
  top: 0;
  right: 0;
  justify-content: center;
  padding-top: 20px;
  padding-right: 40px;
  width: 100px
}


@media (max-width: 768px) {
  .appContainer {
    width: 500;
    padding: 5px;
  }
  
  #MainContainer {
    padding: 7px;
  }

  .buttonContainer {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .appContainer {
    width: 300px;
    max-height: 600px;
    overflow-y: auto;
  }
}

