#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.appContainer {
  position: relative;
  height: 700px;
  width: 700px;
}

.buttonContainer {
  width: 200px;
  padding: 50px;
  background-color: white;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .appContainer {
    width: 500;
    padding: 5px;
  }

  .buttonContainer {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .appContainer {
    width: 300px;
    padding: 5px;
    height: 575px;
  }

  .MainContainer {
    padding-top: 5px;
  }
}

